<h1><%= @actor.name %></h1><br>
<img src="<%=@actor.pic%>" alt="actor pic" style="width:400px;"> <br><br><br>
<h3>Reviews:</h3>
<% 4.times do %>
<p>  <img src = "/five-stars.png" alt="stars">"<%= @reviews.sample %>"</p>
<% end  %>
